.stars {
	display: inline-block;
}

.star {
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.star:hover {
    color: #f2b600;
}

.starFill {
	font-size: 20px;
	color: #f2b600;
}