.box {
	position: relative;
	top: -47px;
	left: 227px;
  padding: 15px 15px 15px 64px;
  color: #000;
  border: 1px solid #000;
  border-right: none;
  border-top: none;
	width: 60%;
}

.icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  left: 24px;
}

.success {
  background-color: #f6ffed;
}

.error {
  background-color: #fff1f0;
}

.warning {
  background-color: #fffbe6;
}