@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
	box-sizing:border-box;
}

:global {
  body {
  	margin: 0;
  	font-family: 'Exo 2', sans-serif;
  }
}

.container {
  max-width: 100%;
  background-color: #969191;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

